.about-me-container {
  background-color: rgb(231, 229, 229);
  /* height: 125vh; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.about-me-title {
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.about-me-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  font-size: medium;
  font-stretch: expanded;
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 20px;
  box-shadow: inset;
  box-shadow: 0 0 30px 10px rgba(156, 148, 148, 0.5);
  padding: 20px;
  line-height: 25px;
}

.arda-image {
  width: 40vh;
  height: auto;
  margin-top: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.593);
  box-shadow: inset;
  box-shadow: 0 0 20px 20px rgba(156, 148, 148, 0.5);
}

.download-resume {
  display: flex;
  margin-top: 50px;
  background-color: white;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(156, 148, 148, 0.5);
  font-size: medium;
  color: black;
}

@media screen and (max-width: 800px) {
  .about-me-paragraph {
    width: 90%;
  }
}
