.contact-me-all {
  background-color: rgb(231, 229, 229);
  height: auto;
  width: 100%;
  position: relative;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-me-container {
  display: flex;
  justify-content: space-between;
}

/* BUuuuuuuuu */
.contact-info-form {
  flex: 1;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.contact-me-all h1 {
  text-align: center;
}

.contact-me-title {
  justify-content: center;
  color: black;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.contact-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  gap: 50px;
}

.contact-social-icon-link {
  display: flex; /* Display links as flex items */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove default underline */
  color: black; /* Set icon color */
  font-size: 80px; /* Adjust icon size */
}

.contact-social-icon-ind {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.contact-social-icon-ind p {
  margin: 5px 0 0; /* Adjust spacing between icon and text */
}

.contact-social-icon-link i {
  margin-bottom: 10px; /* Add margin below the icon */
}

.contact-social-icon-link p {
  margin: 0; /* Reset default margin */
}

.contact-wrapper {
  flex: 1;
  font-size: 20px;
  padding: 30px;
  margin: 0 auto;
}

.contact-info-container {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: flex-start; /* Align items at the start */
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 20px;
  box-shadow: inset;
  box-shadow: 0 0 30px 10px rgba(156, 148, 148, 0.5);
  text-align: center;
}

.contact-category {
  flex: 1; /* Allow items to take up equal space */
  margin: 10px; /* Add margin for spacing */
}

.phone-number-container {
  justify-content: flex-start;
  align-items: center;
}

.connect-with-me-container {
  /* padding: 20px; */
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 20px;
  box-shadow: inset;
  box-shadow: 0 0 30px 10px rgba(156, 148, 148, 0.5);
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.connect-with-me-title {
  padding: 20px 20px;
  text-align: center;
}

.phone-number {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-info > p {
  /* margin-top: -15px; */
}

@media screen and (max-width: 865px) {
  .contact-me-container {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .contact-wrapper {
    padding: 0;
  }
  .phone-number {
    display: block;
  }
}
