.desktop-container {
  background-color: #181717;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  padding-bottom: 1rem;
  /* border: 1rem solid red; */
  overflow: scroll;
}

.desktop-container h1 {
  text-align: center;
}

.desktop-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.desktop-image {
  max-width: 100%;
  max-height: 90vh;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.desktop-app-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-image-container {
  display: block;
}

.desktop-image-and-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-app-image {
  width: 80svh;
  height: auto;
  padding: 20px;
}

.scroll-button {
  cursor: pointer;
}

.desktop-image-title {
  text-align: center;
}

.desktop-app-info {
  position: absolute;
  top: 48%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  width: 90%; /* Adjust as needed */
  height: auto;
  background-color: white;
  border-radius: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 20px;
  z-index: 998;
}

.exit-button {
  cursor: pointer;
}
.desktop-app-description {
  display: flex;
  justify-content: center;
  color: white;
  width: 90%;
  padding: 20px;
}

.desktop-apps-title {
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.desktop {
  position: relative;
}

.desktop-invisible-button {
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  width: 20%;
  height: 28%;
  z-index: 995;
  padding: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.desktop-button-area-1 {
  top: 36%;
  left: 28%;
}

.desktop-button-area-2 {
  top: 36%;
  left: 50%;
}

.desktop-button-area-3 {
  top: 36%;
  left: 75%;
}

@media screen and (max-width: 960px) {
  .desktop-container {
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: hidden;
  }

  .desktop-wrapper {
    flex-direction: column;
  }

  .desktop-app-image {
    width: 40svh;
    height: auto;
    padding: 20px;
  }

  .desktop-app-description {
    padding-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .desktop-image {
    max-width: 100%;
    height: auto;
    padding-top: 0;
    padding-bottom: 10;
    padding: 5px;
  }

  .desktop-app-info {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust as needed */
    height: auto;
    background-color: white;
    border-radius: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 20px;
    z-index: 999;
  }
}
