.mobile-apps-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-bottom: 20px solid black;
  /* cursor: pointer; */
}

.iphone-icon-container {
  margin-top: -5px;
}

.iphone-container {
  background-color: #181717;
  height: auto;
  min-height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 1rem;
  /* border: 1rem solid red; */
  overflow: scroll;
  transition: height 0.3s ease-in-out;
}

.collapsed {
  display: none;
  overflow: hidden;
}

.iphone-container h1 {
  text-align: center;
}

.iphone-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.iphone-image {
  width: 50svh;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.app-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: block;
}

.image-and-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-image {
  width: 26svh;
  height: auto;
  padding: 20px;
}

.scroll-button {
  cursor: pointer;
}

.image-title {
  text-align: center;
}

.iphone-app-info {
  max-width: 90vh;
  height: max-content;
  padding: 1rem;
  background-color: white;
  border-radius: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.exit-button {
  cursor: pointer;
}

.app-description {
  display: flex;
  justify-content: center;
  color: white;
  width: 90%;
  cursor: pointer;
  padding: 20px;
}

.iphone {
  position: relative;
}

.invisible-button {
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  width: 13%;
  height: 9%;
  z-index: 995;
  padding: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.button-area-1 {
  top: 56%;
  left: 24%;
}

.button-area-2 {
  top: 56%;
  left: 42%;
}

.button-area-3 {
  top: 56%;
  left: 59%;
}
@media screen and (min-width: 800px) and (max-width: 960px) {
  .button-area-1 {
    top: 56%;
    left: 27%;
  }

  .iphone-image {
    width: 80svh;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  .iphone-container {
    height: auto;
    min-height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  .iphone-wrapper {
    flex-direction: column;
  }

  .app-description {
    padding-top: 10px;
  }

  .iphone-image {
    height: auto;
    max-height: 165vw;
    /* width: 90vw; */
    width: auto;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* .app-info {
    width: 50vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 20px;
  } */

  .iphone-app-info {
    position: absolute;
    top: 48%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -46%);
    width: 100%; /* Adjust as needed */
    background-color: white;
    border-radius: 30px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 20px;
    z-index: 999;
  }
}
